### Node ###
# Logs
logs
*.log
npm-debug.log*

#Loacal configuration
dump
default-options-local.json

# Dependency directories
node_modules
bower_components

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Temp directories
.tmp

### IDE ###
.idea
